{% extends 'baseweb.html' %}
{% load widget_tweaks %}
{% load jalali_tags %}
{% load humanize %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/dataTables.bootstrap4.min-rtl.css' %}">
<link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/responsivebootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'catalogue/assets/css/tablestyle.css' %}">

{% endblock %}
{% block title %}
ربو | افزودن بخض مربوط به آموزش
{% endblock %}


{% block content %}

<div class="upload-area pt-130 pb-90" data-background="">
    <div class="container">
        <div class="upload-wrapper mb-10">
            <form method="post" class="upload-form" action="{% url 'add-section-web-web' mylearn.pk %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row wow fadeInUp">
                            <div class="col-md-6">
                                <div class="single-input-unit">
                                    <label>عنوان بخش</label>
                                    {% render_field form_section.title  %}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="single-input-unit">
                                    <label>مربوط به آموزش</label>
                                   <select name="learn" id="learn" class="currency-select">
                                    <option value="{{ mylearn.pk }}">{{ mylearn.title }}</option>

                                 </select>
                                </div>
                            </div>



                        </div>
                        <div class="upload-btn wow fadeInUp">
                            <button id="upload-btn" class="fill-btn" type="submit">بارگذاری</button>

                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>




{% endblock %}


{% block javas %}
<!-- Internal Chartjs charts js-->

<script src="{% static 'index/js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'index/js/chart.chartjs.js' %}"></script>
<script src="{% static 'index/js/form-layouts.js' %}"></script>


<!-- Internal Data Table js -->
<script src="{% static 'catalogue/assets/plugins/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/jszip.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/pdfmake.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/vfs_fonts.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.html5.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.print.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.colVis.min.js' %}"></script>
<script src="{% static 'catalogue/assets/js/table-data.js' %}"></script>



{% endblock %}