{% extends 'baseweb.html' %}
{% load widget_tweaks %}
{% load jalali_tags %}
{% load humanize %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/dataTables.bootstrap4.min-rtl.css' %}">
<link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/responsivebootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'catalogue/assets/css/tablestyle.css' %}">

{% endblock %}
{% block title %}
ربو | بخش آموزش ها
{% endblock %}


{% block content %}

<section class="connect-wallet-area pt-130 pb-120">
    <div class="container">
        <div class="connect-wallet-wrapper">
            <div class="row">

                <div class="col-xl-8 col-lg-8 col-md-6">
                    <div class="box-card-single box-card-wallet wallet-fortmatic mb-40 wow fadeInUp">
                        <div class="box-card-inner text-center">
                            <div class="box-card-icon">
                                <img src="{% static 'web/assets/img/img/learn.png' %}" alt="wallet-img">
                            </div>
                            <h4 class="box-card-title">لیست آموزش های من</h4>
                            <p>تمامی آموزش هایی که شما در ربو منتشر کرده اید
                            </p>
                            <div class="box-card-btn">
                                <a href="{% url 'learn-web-web' %}" class="fill-btn">نمایش</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="box-card-single box-card-wallet wallet-torus mb-40 wow fadeInUp">
                        <div class="box-card-inner text-center">
                            <div class="box-card-icon">
                                <img src="{% static 'web/assets/img/img/addlearn.png' %}" alt="wallet-img">
                            </div>
                            <h4 class="box-card-title">افزودن آموزش جدید</h4>
                            <p>
                                آموزشی جدید را شروع کنید
                            </p>
                            <div class="box-card-btn">
                                <a href="{% url 'add-learn-web-web' %}" class="fill-btn">افزودن</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="wallet-wrapper-note text-center wow fadeInUp">
                <div class="note">

                    لطفا قبل از انتشار آموزش، قوانین مربوط به آموزش ها را مطالعه کنید

                    <a class="text-btn" href="faq.html">
                        قوانین مربوط به آموزش ها

                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block javas %}
<!-- Internal Chartjs charts js-->

<script src="{% static 'index/js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'index/js/chart.chartjs.js' %}"></script>
<script src="{% static 'index/js/form-layouts.js' %}"></script>


<!-- Internal Data Table js -->
<script src="{% static 'catalogue/assets/plugins/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/jszip.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/pdfmake.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/vfs_fonts.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.html5.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.print.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.colVis.min.js' %}"></script>
<script src="{% static 'catalogue/assets/js/table-data.js' %}"></script>



{% endblock %}