{% extends 'baseweb.html' %}
{% load widget_tweaks %}
{% load jalali_tags %}
{% load humanize %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/dataTables.bootstrap4.min-rtl.css' %}">
<link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/responsivebootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'catalogue/assets/css/tablestyle.css' %}">

{% endblock %}
{% block title %}
ربو | {{ lesson.title }}
{% endblock %}


{% block content %}



      <!-- art-details area start  -->
      <section class="art-details-area pt-130 pb-0">
         <div class="container">
            <div class="art-details-wrapper">
               <div class="row">
                  <div class="col-xl-4">
                     <h3 style="font-size:16px;" class="art-name mb-25">


                              <a href="{% url 'section-web-web' lesson.section.learn.pk %}" class="btn btn-sm btn-warning">{{ lesson.section.learn.title }} </a>
                              |
                              <a href="{% url 'lesson-web-web' lesson.section.pk %}" class="btn btn-sm btn-warning">{{ lesson.section.title }} </a>


                              |
                              {{ lesson.title }}


                           </h3>
                     <div class="art-item-img pos-rel art-details-img wow fadeInUp">
                        <a class="image-popups" href="{{ product.images.first.image.url }}">
                           <img  src="{{ lesson.image.url }}" alt="{{ lesson.title }}">

                           </a>

                     <div class="created-by">

                     </div>

                        <div class="art-name-details">


                        </div>
</div>

                  </div>
                  <div class="col-xl-8">

{% if lesson.voice %}
<audio controls>
    <source src="{{ lesson.voice.url }}" type="audio/mpeg">
    متاسفانه مرورگر شما قادر به پخش فایل صوتی نیست
</audio>

                      {% endif %}
{% if lesson.video %}
                     <video id="video" poster="{{ lesson.image.url }}" controls="" width="100%" >
                                            <source src="{{ lesson.video.url }}" type="video/mp4">
                                            <source src="{{ lesson.video.url }}" type="video/avi">
                                        </video>
                     {% else %}
                     این آموزش دارای فیلم نمی باشد
                     {% endif %}

                     <hr>
                     <p>
                             {{ lesson.description }}

                           </p>

                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- art-details area end  -->



{% endblock %}


{% block javas %}
<!-- Internal Chartjs charts js-->

<script src="{% static 'index/js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'index/js/chart.chartjs.js' %}"></script>
<script src="{% static 'index/js/form-layouts.js' %}"></script>


<!-- Internal Data Table js -->
<script src="{% static 'catalogue/assets/plugins/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/jszip.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/pdfmake.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/vfs_fonts.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.html5.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.print.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.colVis.min.js' %}"></script>
<script src="{% static 'catalogue/assets/js/table-data.js' %}"></script>



{% endblock %}