{% extends 'base.html' %}
{% load category_tag %}
{% load static %}
{% block styles %}

{% endblock %}
{% block title %}
ربو | تولدی دوباره
{% endblock %}


{% block topmenu %}


{% endblock %}

{% block content %}
<div class="inner-body">

    <div class="row row-sm">

        <!--محل قرار گیری دریافت اطلاعات کاربر در اولین ورود -->

        {% if not user.info %}
        {% include 'index/info.html' %}
        {% elif not user.info.is_active%}
        {% include 'index/resultinfo.html' %}
        {% endif %}

        <!--محل قرار گیری دریافت اطلاعات شرکت در اولین ورود -->

        {% if not user.company %}
        {% include 'index/company.html' %}
        {% elif not user.company.is_active%}
        {% include 'index/resultcompany.html' %}
        {% endif %}


    </div>


    <div class="row row-sm">
        <div class="col-lg-9 col-md-12">
            <div class="row row-sm">
                <!--<div class="col-md-12">
                    <div class="card custom-card">
                        <div class="row row-sm">
                            <div class="col-xl-3 col-lg-6 col-sm-6 pr-0 pl-0 border-left">
                                <div class="card-body text-center">
                                    <h6 class="mb-0">نسبت خرید به فروش</h6>
                                    <h2 class="mb-1 mt-2 number-font"><span class="counter">17</span> ٪</h2>
                                    <p class="mb-0 text-muted"><span class="mb-0 text-danger fs-13 ml-1"><i
                                            class="fe fe-arrow-down"></i>1.68٪</span> برای روز گذشته</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-sm-6 pr-0 pl-0 border-left">
                                <div class="card-body text-center">
                                    <h6 class="mb-0">تعداد معاملات امروز</h6>
                                    <h2 class="mb-1 mt-2 number-font"><span class="counter">12</span></h2>
                                    <p class="mb-0 text-muted"><span class="mb-0 text-success fs-13 ml-1"><i
                                            class="fe fe-arrow-up"></i>0.27٪</span> نسبت به روز گذشته</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-sm-6 pr-0 pl-0 border-left">
                                <div class="card-body text-center">
                                    <h6 class="mb-0">نسبت خرید به فروش</h6>
                                    <h2 class="mb-1 mt-2 number-font"><span class="counter">7</span> ٪</h2>
                                    <p class="mb-0 text-muted"><span class="mb-0 text-danger fs-13 ml-1"><i
                                            class="fe fe-arrow-down"></i>0.87٪</span> برای ماه گذشته</p>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-sm-6 pr-0 pl-0">
                                <div class="card-body text-center">
                                    <h6 class="mb-0">تعداد معاملات 30 روز گذشته</h6>
                                    <h2 class="mb-1 mt-2 number-font"><span class="counter">35</span> ٪</h2>
                                    <p class="mb-0 text-muted"><span class="mb-0 text-success fs-13 ml-1"><i
                                            class="fe fe-arrow-up"></i>22٪</span> نسبت به ماه قبل تر</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
            </div>
            <!--<div class="card custom-card overflow-hidden">
                <div class="card-body">
                    <div>
                        <h6 class="main-content-label mb-1">نمودار بازار خرما</h6>
                        <p class="text-muted  card-sub-title">اتفاقات ثبت شده در این بازار برای شما فراهم است.</p>
                    </div>
                    <div class="chartjs-wrapper-demo">
                        <canvas id="chartArea"></canvas>
                    </div>
                </div>
            </div>-->
        </div>

        <div class="col-lg-3 col-md-12">
            <div class="card custom-card overflow-hidden">
                <div class="card custom-card our-team">
                    <div class="card-body">
                        <div class="picture avatar-lg online text-center">
                            <img alt="{{request.user.username}}" class="rounded-circle"
                                 src="{% static 'index/img/logo.png' %}">
                        </div>
                        <div class="text-center mt-3">
                            <h5 class="pro-user-username text-dark mt-2 mb-0">{{ info.name }} {{ info.family }}</h5>
                            <p class="pro-user-desc text-muted mb-1">
                                {% if company.is_active %}
                                 دارای شرکت فعال
                                {% else %}

                                فاقد شرکت

                                {% endif %}
                            </p>



                        </div>

                        <div class="contact-info mt-3 text-center">
                         <a href="{% url 'profile'  %}" class="btn ripple btn-primary btn-sm">جزئیات پروفایل</a>
                        </div>
                    </div>
                </div>
            </div>


            <!--<div class="card custom-card">
                <div class="card-body pb-3">
                    <h5 class="tx-14">دلار / تومان</h5>
                    <div class="d-flex">
                        <div class="">
                            <h4 class="mb-2">32000 <span class="text-muted tx-12">تومان</span></h4>
                            <div class="d-flex text-muted tx-13"><span class="text-success ml-2 font-weight-bold">+ 0.23٪</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>-->

        </div>


    </div>
</div>
{% endblock %}







{% block javas %}
<!-- Internal Chartjs charts js-->

<script src="{% static 'index/js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'index/js/chart.chartjs.js' %}"></script>
<script src="{% static 'index/js/form-layouts.js' %}"></script>
<script>

chartArea();
function chartArea() {
    var element = document.getElementById("chartArea");
    element.height = 200;
    new Chart(element, {

        type: "line",
        data: {
            labels: ["1401/09/09", "1401/09/10", "1401/09/11", "1401/09/12", "1401/09/13", "1401/09/14", "1401/09/15"],
            datasets: [{
                label: "فروشندگان",
                borderColor: "rgba(113, 76, 190, 0.9)",
                borderWidth: "1",
                backgroundColor: "rgba(113, 76, 190, 0.5)",
                data: [38000, 41500, 48000, 45500, 44000, 40000, 40500]
            }, {
                label: "خریداران",
                borderColor: "rgba(235, 111, 51 ,0.9)",
                borderWidth: "1",
                backgroundColor: "rgba(\t235, 111, 51, 0.7)",
                pointHighlightStroke: "rgba(235, 111, 51 ,1)",
                data: [34000, 38500, 42000, 41500, 39000, 40000, 38500]
            }]
        },
        options: {
            responsive: !0,
            maintainAspectRatio: !1,
            tooltips: {mode: "index", intersect: !1},
            hover: {mode: "nearest", intersect: !0},
            scales: {
                xAxes: [{ticks: {fontColor: "#77778e"}, gridLines: {color: "rgba(119, 119, 142, 0.2)"}}],
                yAxes: [{
                    ticks: {beginAtZero: !0, fontColor: "#77778e"},
                    gridLines: {color: "rgba(119, 119, 142, 0.2)"}
                }]
            },
            legend: {labels: {fontColor: "#77778e"}}
        }

    });
}








</script>


{% endblock %}