{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/dataTables.bootstrap4.min-rtl.css' %}">
    <link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/responsivebootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.bootstrap4.min.css' %}">

{% endblock %}
{% block title %}
ربو | شعبه ها و نمایندگی ها
{% endblock %}
{% block content %}
<div class="inner-body">


    <div class="row row-sm">
					<div class="col-xl-12 col-lg-12 col-md-12">
						<div class="card custom-card">
							<div class="card-body">
								<div>
									<h6 class="main-content-label mb-1">افزودن شعبه</h6>
									<p class="text-muted card-sub-title">
                                        شما می توانید تمامی شعبات خود را در یک محل مدیریت کنید، اگر تنها یک شعبه دارید می توانید همان یک موقعیت را از همین طریق اضافه نمائید
                                    </p>
								</div>
								 <form method="post" action="{% url 'add-location' %}"  >
                    				{% csrf_token %}
									<div class="">
										<div class="row row-sm">
											<div class="col-lg-4 form-group">
												<label class="form-label">نام شعبه : <span class="tx-danger">*</span></label>
												   {% render_field form_location.name class="form-control" placeholder="نام شعبه "  %}
											</div>
											<div class="col-lg-8 form-group">
												<label class="form-label">آدرس شعبه : <span class="tx-danger">*</span></label>
												{% render_field form_location.address class="form-control" placeholder="آدرس شعبه " rows="2"  %}
											</div>
										</div>
										<button class="btn ripple btn-main-primary btn-block" type="submit">افزودن شعبه</button>
									</div>
								</form>
							</div>
						</div>
					</div>

				</div>


		<div class="row row-sm">
					<div class="col-lg-12">
						<div class="card custom-card overflow-hidden">
							<div class="card-body">
								<div>
									<h6 class="main-content-label mb-1">شعبات شرکت
									{{request.user.company}}
									</h6>
									<p class="text-muted card-sub-title">

										اطلاعات کامل شعبات شما در لیست زیر قابل مشاهده می باشد

									</p>
								</div>
								<div class="table-responsive">
									<table id="exportexample" class="table table-bordered border-t0 key-buttons text-nowrap w-100">
										<thead>
										<tr>
											<th>کد شعبه</th>
											<th>نام شعبه</th>
											<th>آدرس شعبه</th>
										</tr>
										</thead>
										<tbody>
										{% for location in locations%}
										<tr>
											<td>{{ location.pk }}</td>
											<td>{{ location.name }}</td>
											<td>{{ location.address }}</td>
										</tr>
										{% endfor %}

										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

</div>


{% endblock %}
{% block javas %}
<!-- Internal Chartjs charts js-->

<script src="{% static 'index/js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'index/js/chart.chartjs.js' %}"></script>
<script src="{% static 'index/js/form-layouts.js' %}"></script>


<!-- Internal Data Table js -->
<script src="{% static 'catalogue/assets/plugins/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/jszip.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/pdfmake.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/vfs_fonts.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.html5.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.print.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.colVis.min.js' %}"></script>
<script src="{% static 'catalogue/assets/js/table-data.js' %}"></script>

{% endblock %}