{% extends 'base.html' %}
{% load widget_tweaks %}
{% load jalali_tags %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/dataTables.bootstrap4.min-rtl.css' %}">
<link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/responsivebootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.bootstrap4.min.css' %}">

{% endblock %}
{% block title %}
ربو | آموزشگاه ربو
{% endblock %}
{% block content %}
<div class="inner-body">

    <!-- Row -->
    <div class="row row-sm">



        {% for learn in learns%}

            <div class="col-md-6 col-lg-3 ">
                <div class="card overflow-hidden custom-card">
                    <img style="max-height: 170px;" alt="{{ learn.title }}" class="img-fluid b-img" src="{{ learn.image.url }}">
                    <div class="card-body">
                        <a href="#" class="card-text">
                            {{ learn.title }}
                        </a>
                    </div>
                </div>
            </div>

      {% endfor%}

    </div>
    <!-- End Row -->


</div>


{% endblock %}
{% block javas %}
<!-- Internal Chartjs charts js-->

<script src="{% static 'index/js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'index/js/chart.chartjs.js' %}"></script>
<script src="{% static 'index/js/form-layouts.js' %}"></script>


<!-- Internal Data Table js -->
<script src="{% static 'catalogue/assets/plugins/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/jszip.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/pdfmake.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/vfs_fonts.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.html5.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.print.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.colVis.min.js' %}"></script>
<script src="{% static 'catalogue/assets/js/table-data.js' %}"></script>
<!-- Internal Chat js-->
<script src="{% static 'catalogue/assets/js/chat.js' %}"></script>

{% endblock %}