{% load static %}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="description" content="Rebo -  Comming soon...">
    <meta name="author" content="Mohammad saeed fadaoddini">
    <meta name="keywords" content="admin laravel template, template laravel admin">
        <!-- Favicon -->
    <link rel="icon" href="{% static 'catalogue/assets/img/brand/favicon.ico' %}" type="image/x-icon"/>
		<!-- Title -->
    <title>{% block title %}  {% endblock %}</title>
		<!-- Bootstrap css-->
    <link rel="stylesheet" href="{% static 'catalogue/assets/plugins/bootstrap/css/bootstrap.min.css' %}">
		<!-- Icons css-->
    <link rel="stylesheet" href="{% static 'catalogue/assets/plugins/web-fonts/icons.css' %}">
    <link rel="stylesheet" href="{% static 'catalogue/assets/plugins/web-fonts/font-awesome/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'catalogue/assets/plugins/web-fonts/plugin.css' %}">
		<!-- Style css-->
    <link rel="stylesheet" href="{% static 'catalogue/assets/css-rtl/style/style.css' %}">
    <link rel="stylesheet" href="{% static 'catalogue/assets/css-rtl/skins.css' %}">
    <link rel="stylesheet" href="{% static 'catalogue/assets/css-rtl/dark-style.css' %}">
    <link rel="stylesheet" href="{% static 'catalogue/assets/css-rtl/colors/default.css' %}">
    <!-- Select2 css -->
		<link href="{% static 'catalogue/assets/plugins/select2/css/select2.min.css' %}" rel="stylesheet">
	</head>