<div class="row row-sm  mt-lg-4">
							<div class="col-sm-12 col-lg-12 col-xl-12">
								<div class="card bg-primary custom-card card-box">
									<div class="card-body p-4">
										<div class="row align-items-center">
											<div class="offset-xl-3 offset-sm-6 col-xl-8 col-sm-6 col-12 img-bg ">
												<h4 class="d-flex  mb-3">
													<span class="font-weight-bold text-white ">
														{{request.user.username}}
													</span>
												</h4>
												<p class="tx-white-7 mb-1">شما دو پروژه برای اتمام دارید ، <b class="text-warning">57٪</b> از سطح ماهیانه خود را تکمیل کرده اید ، به سطح خود ادامه دهید
												</p></div>
											<img src="assets/img/pngs/work3.png" alt="user-img">
										</div>
									</div>
								</div>
							</div>
						</div>