{% load static %}
{% if show_item %}

{% else%}
<!--<div class="col-sm-12 col-lg-12 col-xl-12">
    <div class="card bg-primary custom-card ">
        <div class="card-body p-4">
            <div class="panel profile-cover">

                <div class="profile-cover__info">
                    <div class="row pr-4">
                        <div class="col-lg-6 col-sm-12">
                    <h3 class="pt-4 h5 text-dark pr-2">{{ info.name }} {{ info.family }}</h3>
                    <button class="btn btn-rounded btn-danger">
                        <i class="fa fa-plus"></i>
                        <span>دنبال کردن</span>
                    </button>
                    <button class="btn btn-rounded btn-dark">
                        <i class="fa fa-comment"></i>
                        <span>پیام</span>
                    </button></div>
                        <div class="col-lg-6 col-sm-12"><ul class="nav" style="">
                        <li class="text-warning"><strong class="text-white">7</strong> خرید</li>
                        <li class="text-warning"><strong class="text-white">10</strong> فروش</li>
                        <li class="text-warning"><strong class="text-white">33</strong>دنبال کنندگان</li>
                        <li class="text-warning"><strong class="text-white">136</strong> دنبال شده ها</li>
                    </ul></div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>-->
{% endif%}
