{% extends 'web/profile/base.html' %}
{% load widget_tweaks %}
{% load category_tag %}
{% load jalali_tags %}
{% load humanize %}
{% load static %}
{% block title %}
ربو | درخواست های من

{% endblock %}
{% block content %}

 <div class="tab-pane fade active show" id="tab-nav3" role="tabpanel" aria-labelledby="nav-featured-tab">
                                <div class="featured-items-wrapper">
                                    <div class="row ">
                                        {% for request in page_obj_request %}

                                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                                            <div class="art-item-single mb-30">
                                                <div class="art-item-wraper">
                                                    <div class="art-item-inner">
                                                        <div class="art-item-img pos-rel">
                                                            <div class="art-action">
                                                                <button class="art-action-like"><i
                                                                        class="flaticon-heart"></i></button>

                                                                <div class="art-action-collection"><i
                                                                        class="flaticon-plus-sign"></i></div>
                                                            </div>

                                                            {% if request.get_time %}
                                                            <a href="{% url 'request-detail' request.pk %}"
                                                               class="place-bid">پیشنهاد دهید</a>
                                                            {% else %}
                                                            <a href="#" class="place-bid">پایان اعتبار</a>
                                                            {%endif %}
                                                            <a href="{% url 'request-detail' request.pk %}">
                                                                {% if request.images.first.image.url %}


                                                                <img height="200" alt="{{ request.request_type }}"
                                                                     src="{{ request.images.first.image.url }}">

                                                                {% else %}

                                                                <img src="{% static 'web/assets/img/img/noimg.png' %}"
                                                                     alt="تصویر موجود نیست! ">
                                                                {%endif %}

                                                            </a>
                                                        </div>
                                                        <div class="art-item-content pos-rel">
                                                            <div class="auction-time-and-btn">

                                                                <div class="art-auction-ends in-art-item"
                                                                     data-countdown="{{ request.expire_time|date:'Y/m/d'}}">
                                                                </div>
                                                            </div>
                                                            <div class="art-3dots-menu">
                                                                <div class="art-3dots-action">
                                                                    <ul>
                                                                        <li><a href="#"><i class="fal fa-share-alt"></i>اشتراک</a>
                                                                        </li>
                                                                        <li><a href="#"><i class="fal fa-flag-alt"></i>گزارش</a>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <button class="art-3dots-icon"><i
                                                                        class="fal fa-ellipsis-v"></i></button>
                                                            </div>
                                                            <div class="artist">
                                                                <div class="profile-img pos-rel">
                                                                    <a href="creator-profile.html">
                                                                        {% if request.sell_buy == 1 %}
                                                                        <img src="{% static 'web/assets/img/img/farmer.png' %}"
                                                                             alt="فروشنده">
                                                                        {% else %}
                                                                        <img src="{% static 'web/assets/img/img/buyer.png' %}"
                                                                             alt="خریدار">
                                                                        {% endif %}
                                                                    </a>
                                                                    <div class="profile-verification verified">
                                                                        <i class="fas fa-check"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="artist-id">{{ request.user.last_name }}
                                                                </div>
                                                            </div>


                                                            <h4 class="art-name"><a
                                                                    href="{% url 'request-detail' request.pk %}">
                                                                {{ request.request_type }}</a></h4>
                                                            <div class="art-meta-info">
                                                                <div class="art-meta-item">
                                                                    <div class="art-meta-type">قیمت پایه</div>
                                                                    <div class="art-price">
                                                                        {{ request.price|intcomma }} (ریال)

                                                                    </div>
                                                                </div>
                                                                <div class="art-activity-btn">
                                                                    <a href="#" class="art-activity">

                                                                        {% if request.is_active == True %}
                        <span class="profile-verification verified">
                           <i class="fas fa-check"></i>
                            تائید شده
                        </span>
                        {% else %}
                        <span class="text12 text-danger">تایید نشده</span>
                        {% endif %}

                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor%}
                                        {% include 'web/paginations.html' %}
                                    </div>
                                </div>

                            </div>

 {% endblock %}