{% extends 'baseweb.html' %}
{% load widget_tweaks %}
{% load jalali_tags %}
{% load humanize %}
{% load static %}
{% block styles %}
<link rel="stylesheet"
      href="{% static 'catalogue/assets/plugins/datatable/dataTables.bootstrap4.min-rtl.css' %}">
<link rel="stylesheet"
      href="{% static 'catalogue/assets/plugins/datatable/responsivebootstrap4.min.css' %}">
<link rel="stylesheet"
      href="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.bootstrap4.min.css' %}">
<!-- Internal Owl Carousel css-->
<link href="{% static 'catalogue/assets/plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet">

<!-- Multislider css -->
<link href="{% static 'catalogue/assets/plugins/multislider/multislider.css' %}" rel="stylesheet">
<style>
    .chartnone{
        display:none !important;
    }
    #onedayprice1,#onedayprice7,#onedayprice30{
        height:300px !important;
    }
    .btn-cursor{
    cursor:pointer;
    }

</style>
{% endblock %}
{% block title %}
ربو | بازار {{title}}
{% endblock %}


{% block content %}
<section class="connect-wallet-area">
         <div class="container pt-110">
            <div class="row fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
               <div class="col-lg-12">
                  <div class="page-title text-center">
                     <h2 class="breadcrumb-title mb-50">{{title}}</h2>

                  </div>
               </div>
            </div>
         </div>
      </section>

<section class="connect-wallet-area pb-120">
    <div class="container">
        <div class="connect-wallet-wrapper">

            <div class="inner-body">
                <div class="row">
                    <div class="col-6">
                                       <span class="btn btn-success btn-sm w-100 ">

                                           صف خریداران
                                       </span>
 {% for buy in buyers%}
                        <div class="activity-wrapper-action-single-success pos-rel">
                            <div class="activity-3dots-menu">

                                {{buy.total_price|intcomma}}
                                 تومان
                            </div>

                            <div class="activity-meta-text">
                                <div class="text-dark">
                                    <a href="{% url 'product-detail' buy.pk %}">
                                   <span class="text-danger">
                                       {{ buy.weight|intcomma }}
                                   </span>


                                        کیلوگرم
                                        (هر کیلوگرم {{ buy.price|intcomma }}  ریال)







                                </a>
                                   </div>

                            </div>
                        </div>
{% endfor %}
                    </div>

                     <div class="col-6">
 <span class="btn btn-danger btn-sm w-100 ">



       صف فروشندگان ضمانت دار
                                       </span>
                        {% for sell in sellers%}
                        <div class="activity-wrapper-action-single-danger pos-rel ">
                            <div class="activity-3dots-menu">

                                {{sell.total_price|intcomma}}
                                 تومان
                            </div>

                            <div class="activity-meta-text">
                                <div class="text-dark">
                                    <a href="{% url 'product-detail' sell.pk %}">
                                   <span class="text-danger">
                                      {{ sell.weight|intcomma }}
                                   </span>



                                        کیلوگرم
                                        (هر کیلوگرم {{ sell.price|intcomma }}  ریال)







                                </a>
                                   </div>

                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>


        </div>

    </div>

    </div>
    </div>

</section>
{% endblock %}

{% block javas %}
<!-- Internal Chartjs charts js-->

<!-- Jquery js-->
<script src="{% static 'catalogue/assets/plugins/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap js-->
<script src="{% static 'catalogue/assets/plugins/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/bootstrap/js/bootstrap-rtl.js' %}"></script>

<!-- Perfect-scrollbar js -->
<script src="{% static 'catalogue/assets/plugins/perfect-scrollbar/perfect-scrollbar.min-rtl.js' %}"></script>

<!-- Sidemenu js -->
<script src="{% static 'catalogue/assets/plugins/sidemenu/sidemenu-rtl.js' %}"></script>

<!-- Sidebar js -->
<script src="{% static 'catalogue/assets/plugins/sidebar/sidebar-rtl.js' %}"></script>

<!-- Select2 js-->
<script src="{% static 'catalogue/assets/plugins/select2/js/select2.min.js' %}"></script>
<!-- Internal Select2 js-->
<script src="{% static 'catalogue/assets/js/select2.js' %}"></script>
<!-- Internal Jquery-Ui js-->

<!-- Sticky js -->
<script src="{% static 'catalogue/assets/js/sticky.js' %}"></script>

<!-- Custom js -->
<script src="{% static 'catalogue/assets/js/custom.js' %}"></script>

<!-- Switcher js -->
<script src="{% static 'catalogue/assets/switcher/js/switcher-rtl.js' %}"></script>

<!-- Custom js -->


<script src="{% static 'index/js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'index/js/chart.chartjs.js' %}"></script>
<script src="{% static 'index/js/form-layouts.js' %}"></script>


<!-- Internal Data Table js -->
<script src="{% static 'catalogue/assets/plugins/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/jszip.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/pdfmake.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/vfs_fonts.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.html5.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.print.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.colVis.min.js' %}"></script>
<script src="{% static 'catalogue/assets/js/table-data.js' %}"></script>

<!-- Internal Owl Carousel js-->
<script src="{% static 'catalogue/assets/plugins/owl-carousel/owl.carousel-rtl.js' %}"></script>

<!-- Multislider js -->
<script src="{% static 'catalogue/assets/plugins/multislider/multislider-rtl.js' %}"></script>
<script src="{% static 'catalogue/assets/js/carousel-rtl.js' %}"></script>

{% endblock %}