{% extends 'baseweb.html' %}
{% load widget_tweaks %}
{% load jalali_tags %}
{% load humanize %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/dataTables.bootstrap4.min-rtl.css' %}">
<link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/responsivebootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'catalogue/assets/css/tablestyle.css' %}">

{% endblock %}
{% block title %}
ربو | محصولات
{% endblock %}


{% block content %}

<section class="connect-wallet-area pt-130 pb-120">
    <div class="container">
        <div class="connect-wallet-wrapper">
            <div class="row">

                <div class="col-xl-8 col-lg-8 col-md-6">
                    <div class="box-card-single box-card-wallet wallet-fortmatic mb-40 wow fadeInUp">
                        <div class="box-card-inner text-center">
                            <div class="box-card-icon">
                                <img src="{% static 'web/assets/img/img/allproduct.png' %}" alt="wallet-img">
                            </div>
                            <h4 class="box-card-title">لیست محصولات من</h4>
                            <p>تمامی محصولاتی که شما در ربو قرار داده اید
                            </p>
                            <div class="box-card-btn">
                                <a href="{% url 'product-web-web' %}" class="fill-btn">نمایش</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="box-card-single box-card-wallet wallet-torus mb-40 wow fadeInUp">
                        <div class="box-card-inner text-center">
                            <div class="box-card-icon">
                                <img src="{% static 'web/assets/img/img/addproduct.png' %}" alt="wallet-img">
                            </div>
                            <h4 class="box-card-title">افزودن محصول جدید</h4>
                            <p>
                                محصول جدید را برای فروش قرار دهید
                            </p>
                            <div class="box-card-btn">
                                <a href="{% url 'add-product-web' pk=user.pk %}" class="fill-btn">افزودن</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6">
                    <div class="box-card-single box-card-wallet wallet-fortmatic mb-40 wow fadeInUp">
                        <div class="box-card-inner text-center">
                            <div class="box-card-icon">
                                <img src="{% static 'web/assets/img/img/request.png' %}" alt="wallet-img">
                            </div>
                            <h4 class="box-card-title">لیست درخواست های من</h4>
                            <p>تمامی درخواست هایی که شما در ربو قرار داده اید
                            </p>
                            <div class="box-card-btn">
                                <a href="{% url 'request-web-web' %}" class="fill-btn">نمایش</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-6">
                    <div class="box-card-single box-card-wallet wallet-torus mb-40 wow fadeInUp">
                        <div class="box-card-inner text-center">
                            <div class="box-card-icon">
                                <img src="{% static 'web/assets/img/img/addreq.png' %}" alt="wallet-img">
                            </div>
                            <h4 class="box-card-title">افزودن درخواست جدید</h4>
                            <p>
                                درخواست جدید را برای خرید قرار دهید
                            </p>
                            <div class="box-card-btn">
                                <a href="{% url 'add-req-web-web' pk=user.pk %}" class="fill-btn">افزودن</a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="wallet-wrapper-note text-center wow fadeInUp">
                <div class="note">

                    لطفا قبل از قرار دادن محصول، قوانین مربوط به خرید و فروش محصولات را مطالعه کنید

                    <a class="text-btn" href="faq.html">
                        قوانین مربوط به خرید و فروش محصولات

                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block javas %}
<!-- Internal Chartjs charts js-->

<script src="{% static 'index/js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'index/js/chart.chartjs.js' %}"></script>
<script src="{% static 'index/js/form-layouts.js' %}"></script>


<!-- Internal Data Table js -->
<script src="{% static 'catalogue/assets/plugins/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/jszip.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/pdfmake.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/vfs_fonts.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.html5.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.print.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.colVis.min.js' %}"></script>
<script src="{% static 'catalogue/assets/js/table-data.js' %}"></script>



{% endblock %}