<section class="related-items-area pt-110 pb-100">
    <div class="container">
        <div class="row justify-content-center wow fadeInUp">
            <div class="col-lg-8">
                <div class="section-title1 text-center">
                    <h2 class="section-main-title1">آموزش های مرتبط</h2>
                    <p class="mb-40">
                        آموزش های پیشنهادی و جذاب محور فعالیت ها و انتخاب های شما در این سامانه
                    </p>
                </div>
            </div>
        </div>
        <div class="row wow fadeInUp">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="art-item-single mb-30">
                    <div class="art-item-wraper">
                        <div class="art-item-inner">
                            <div class="art-item-img pos-rel">
                                <div class="art-action">
                                    <button class="art-action-like"><i class="flaticon-heart"></i></button>
                                    <div class="art-action-like-count">2.5k+</div>
                                    <div class="art-action-collection"><i class="flaticon-plus-sign"></i></div>
                                </div>
                                <a href="#" class="place-bid">پیشنهاد دهید</a>
                                <a href="art-details.html"><img src="assets/img/art/fvbsdhu-fgvsfgv.jpg"
                                                                alt="art-img"></a>
                            </div>
                            <div class="art-item-content pos-rel">
                                <div class="auction-time-and-btn">
                                    <div class="art-auction-ends in-art-item" data-countdown="2023/08/20">
                                    </div>
                                </div>
                                <div class="art-3dots-menu">
                                    <div class="art-3dots-action">
                                        <ul>
                                            <li><a href="#"><i class="fal fa-share-alt"></i>اشتراک</a>
                                            </li>
                                            <li><a href="#"><i class="fal fa-flag-alt"></i>گزارش</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="art-3dots-icon"><i class="fal fa-ellipsis-v"></i></button>
                                </div>
                                <div class="artist">
                                    <div class="profile-img pos-rel">
                                        <a href="creator-profile.html"><img src="assets/img/profile/profile7.jpg"
                                                                            alt="profile-img"></a>
                                        <div class="profile-verification verified">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div class="artist-id">stephens@</div>
                                </div>
                                <h4 class="art-name"><a href="art-details.html">نمایه رباتیک</a></h4>
                                <div class="art-meta-info">
                                    <div class="art-meta-item">
                                        <div class="art-meta-type">نرخ مزایده</div>
                                        <div class="art-price">83.46 ETH</div>
                                    </div>
                                    <div class="art-activity-btn">
                                        <a href="activity.html" class="art-activity"><i
                                                class="fal fa-waveform-path"></i>تاریخچه</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="art-item-single mb-30">
                    <div class="art-item-wraper">
                        <div class="art-item-inner">
                            <div class="art-item-img pos-rel">
                                <div class="art-action">
                                    <button class="art-action-like"><i class="flaticon-heart"></i></button>
                                    <div class="art-action-like-count">2.5k+</div>
                                    <div class="art-action-collection"><i class="flaticon-plus-sign"></i></div>
                                </div>
                                <a href="#" class="place-bid">پیشنهاد دهید</a>
                                <a href="art-details.html"><img src="assets/img/art/art8.jpg" alt="art-img"></a>
                            </div>
                            <div class="art-item-content pos-rel">
                                <div class="art-3dots-menu">
                                    <div class="art-3dots-action">
                                        <ul>
                                            <li><a href="#"><i class="fal fa-share-alt"></i>اشتراک</a>
                                            </li>
                                            <li><a href="#"><i class="fal fa-flag-alt"></i>گزارش</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="art-3dots-icon"><i class="fal fa-ellipsis-v"></i></button>
                                </div>
                                <div class="artist">
                                    <div class="profile-img pos-rel">
                                        <a href="creator-profile.html"><img src="assets/img/profile/profile8.jpg"
                                                                            alt="profile-img"></a>
                                        <div class="profile-verification verified">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div class="artist-id">johnson@</div>
                                </div>
                                <h4 class="art-name"><a href="art-details.html">گرگ رنگی</a></h4>
                                <div class="art-meta-info">
                                    <div class="art-meta-item">
                                        <div class="art-meta-type">نرخ مزایده</div>
                                        <div class="art-price">23.35 ETH</div>
                                    </div>
                                    <div class="art-activity-btn">
                                        <a href="activity.html" class="art-activity"><i
                                                class="fal fa-waveform-path"></i>تاریخچه</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="art-item-single mb-30">
                    <div class="art-item-wraper">
                        <div class="art-item-inner">
                            <div class="art-item-img pos-rel">
                                <div class="art-action">
                                    <button class="art-action-like"><i class="flaticon-heart"></i></button>
                                    <div class="art-action-like-count">2.5k+</div>
                                    <div class="art-action-collection"><i class="flaticon-plus-sign"></i></div>
                                </div>
                                <a href="#" class="place-bid">پیشنهاد دهید</a>
                                <a href="art-details.html"><img src="assets/img/art/624415f0c23c9169046500.gif"
                                                                alt="art-img"></a>
                            </div>
                            <div class="art-item-content pos-rel">
                                <div class="art-3dots-menu">
                                    <div class="art-3dots-action">
                                        <ul>
                                            <li><a href="#"><i class="fal fa-share-alt"></i>اشتراک</a>
                                            </li>
                                            <li><a href="#"><i class="fal fa-flag-alt"></i>گزارش</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="art-3dots-icon"><i class="fal fa-ellipsis-v"></i></button>
                                </div>
                                <div class="artist">
                                    <div class="profile-img pos-rel">
                                        <a href="creator-profile.html"><img src="assets/img/profile/profile6.jpg"
                                                                            alt="profile-img"></a>
                                        <div class="profile-verification verified">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div class="artist-id">jerrifo@</div>
                                </div>
                                <h4 class="art-name"><a href="art-details.html">آبمیوه</a></h4>
                                <div class="art-meta-info">
                                    <div class="art-meta-item">
                                        <div class="art-meta-type">نرخ مزایده</div>
                                        <div class="art-price">23.48 ETH</div>
                                    </div>
                                    <div class="art-activity-btn">
                                        <a href="activity.html" class="art-activity"><i
                                                class="fal fa-waveform-path"></i>تاریخچه</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="art-item-single mb-30">
                    <div class="art-item-wraper">
                        <div class="art-item-inner">
                            <div class="art-item-img pos-rel">
                                <div class="tag-featured"><i class="fas fa-star"></i>ویژه</div>
                                <div class="art-action">
                                    <button class="art-action-like"><i class="flaticon-heart"></i></button>
                                    <div class="art-action-like-count">2.5k+</div>
                                    <div class="art-action-collection"><i class="flaticon-plus-sign"></i></div>
                                </div>
                                <a href="#" class="place-bid">پیشنهاد دهید</a>
                                <a href="art-details.html"><img src="assets/img/art/gndfodfkbgdf.jpg" alt="art-img"></a>
                            </div>
                            <div class="art-item-content pos-rel">
                                <div class="art-3dots-menu">
                                    <div class="art-3dots-action">
                                        <ul>
                                            <li><a href="#"><i class="fal fa-share-alt"></i>اشتراک</a>
                                            </li>
                                            <li><a href="#"><i class="fal fa-flag-alt"></i>گزارش</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="art-3dots-icon"><i class="fal fa-ellipsis-v"></i></button>
                                </div>
                                <div class="artist">
                                    <div class="profile-img pos-rel">
                                        <a href="creator-profile.html"><img src="assets/img/profile/profile9.jpg"
                                                                            alt="profile-img"></a>
                                        <div class="profile-verification verified">
                                            <i class="fas fa-check"></i>
                                        </div>
                                    </div>
                                    <div class="artist-id">shaly.bt@</div>
                                </div>
                                <h4 class="art-name"><a href="art-details.html">پرنده کارتونی</a></h4>
                                <div class="art-meta-info">
                                    <div class="art-meta-item">
                                        <div class="art-meta-type">نرخ مزایده</div>
                                        <div class="art-price">24.46 ETH</div>
                                    </div>
                                    <div class="art-activity-btn">
                                        <a href="activity.html" class="art-activity"><i
                                                class="fal fa-waveform-path"></i>تاریخچه</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>