{% extends 'baseweb.html' %}
{% load widget_tweaks %}
{% load jalali_tags %}
{% load humanize %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/dataTables.bootstrap4.min-rtl.css' %}">
<link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/responsivebootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.bootstrap4.min.css' %}">
<!-- Internal Owl Carousel css-->
<link href="{% static 'catalogue/assets/plugins/owl-carousel/owl.carousel.css' %}" rel="stylesheet">

<!-- Multislider css -->
<link href="{% static 'catalogue/assets/plugins/multislider/multislider.css' %}" rel="stylesheet">
<style>
    .chartnone{
        display:none !important;
    }
    #onedayprice1,#onedayprice7,#onedayprice30{
        height:300px !important;
    }
    .btn-cursor{
    cursor:pointer;
    }
</style>
{% endblock %}
{% block title %}
ربو | آمار
{% endblock %}


{% block content %}


<section class="connect-wallet-area pt-130 pb-120">
    <div class="container">
        <div class="connect-wallet-wrapper">

            <div class="inner-body">


                <div class="card custom-card transcation-crypto" style="border:none;">
                    <div class="card-body">
                        <div class="d-sm-flex mb-0">
                            <p class="tx-13 text-muted mb-2">نمودار قیمت فروش
                                <span id="product_type_name">
                                   {{product_type.title}}
                                </span>

                            </p>
                            <p style="margin-right:10px; color:red;">
(
                                <span class="text-success tx-15 mr-2">
                                تعداد آگهی :


                                <span id="bazar_count">
                                    {{bazar_count}}
                                </span>


                            </span>
)
                            </p>


                        </div>
                        <div class="row row-sm mb-3">


                            <div class="col-lg-4 ">
                                <div class="card bg-success custom-card mb-1 text-center">
                                    <div class="card-body">
                                    <span class=" tx-13 text-white">بالاترین قیمت
                                    <span id="price_max text-white">
                                         {{price_max}}
                                    </span>
                                        ریال
                                    </span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 ">
                                <div class="card bg-secondary custom-card mb-1 text-center">
                                    <div class="card-body">
                                    <span class=" tx-13 text-white">میانگین قیمت
                                    <span id="price_avg text-white">
                                         {{price_avg}}
                                    </span>

                                        ریال
                                    </span>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 ">
                                <div class="card bg-danger custom-card mb-0 text-center">
                                    <div class="card-body">
                                     <span class=" tx-13 text-white">پایین ترین قیمت
                                    <span id="price_min text-white">
                                         {{price_min}}
                                    </span>
                                        ریال
                                    </span>

                                    </div>
                                </div>
                            </div>


                        </div>
                        <section class="oc-category-area pt-30 pb-30">
         <div class="container">
            <div class="row wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
               <div class="col-lg-12">
                  <div class="section-title1 pos-rel text-center mb-40">
                     <h2 style="font-size:24px;" id="title-chart" class="section-main-title1 mb-30">دسته بندی موضوعی</h2>
                      <a onclick="create_chart_top(1,{{product_type.pk}})"
                                           class="fill-btn btn-cursor">یک روز گذشته</a>

                   <a onclick="create_chart_top(7,{{product_type.pk}})"
                                           class="fill-btn-orange btn-cursor">هفت روز گذشته</a>
                   <a onclick="create_chart_top(30,{{product_type.pk}})"
                                           class="fill-btn btn-cursor">سی روز گذشته</a>
                  </div>
               </div>
            </div>
            <div class="row wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
               <div class="col-xl-12">
                  <div class="chart-wrapper">
                                            <div class="chartjs-wrapper-demo">
                                                <canvas id="onedayprice1" class="chartnone" ></canvas>
                                            </div>
                                        </div>

                    <div  class="chart-wrapper">
                                            <div class="chartjs-wrapper-demo">
                                                <canvas id="onedayprice7" class="chartnone" ></canvas>
                                            </div>
                                        </div>
                   <div  class="chart-wrapper">
                                            <div class="chartjs-wrapper-demo">
                                                <canvas id="onedayprice30" class="chartnone" ></canvas>
                                            </div>
                                        </div>



               </div>

            </div>
         </div>
      </section>



                    </div>
                </div>
            </div>


        </div>

    </div>

    </div>
    </div>

</section>
{% endblock %}

{% block javas %}
<!-- Internal Chartjs charts js-->

<!-- Jquery js-->
<script src="{% static 'catalogue/assets/plugins/jquery/jquery.min.js' %}"></script>

<!-- Bootstrap js-->
<script src="{% static 'catalogue/assets/plugins/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/bootstrap/js/bootstrap-rtl.js' %}"></script>

<!-- Perfect-scrollbar js -->
<script src="{% static 'catalogue/assets/plugins/perfect-scrollbar/perfect-scrollbar.min-rtl.js' %}"></script>

<!-- Sidemenu js -->
<script src="{% static 'catalogue/assets/plugins/sidemenu/sidemenu-rtl.js' %}"></script>

<!-- Sidebar js -->
<script src="{% static 'catalogue/assets/plugins/sidebar/sidebar-rtl.js' %}"></script>

<!-- Select2 js-->
<script src="{% static 'catalogue/assets/plugins/select2/js/select2.min.js' %}"></script>
<!-- Internal Select2 js-->
<script src="{% static 'catalogue/assets/js/select2.js' %}"></script>
<!-- Internal Jquery-Ui js-->

<!-- Sticky js -->
<script src="{% static 'catalogue/assets/js/sticky.js' %}"></script>

<!-- Custom js -->
<script src="{% static 'catalogue/assets/js/custom.js' %}"></script>

<!-- Switcher js -->
<script src="{% static 'catalogue/assets/switcher/js/switcher-rtl.js' %}"></script>
<script>
    $(document).ready(function(){
        $('ul li').click(function(){
            $('li').removeClass("active");
            $(this).addClass("active show");
        });
    });

</script>
<!-- Custom js -->


<script src="{% static 'index/js/Chart.bundle.min.js' %}"></script>
<script src="{% static 'index/js/chart.chartjs.js' %}"></script>
<script src="{% static 'index/js/form-layouts.js' %}"></script>


<!-- Internal Data Table js -->
<script src="{% static 'catalogue/assets/plugins/datatable/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/jszip.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/pdfmake.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/vfs_fonts.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.html5.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.print.min.js' %}"></script>
<script src="{% static 'catalogue/assets/plugins/datatable/fileexport/buttons.colVis.min.js' %}"></script>
<script src="{% static 'catalogue/assets/js/table-data.js' %}"></script>

<!-- Internal Owl Carousel js-->
<script src="{% static 'catalogue/assets/plugins/owl-carousel/owl.carousel-rtl.js' %}"></script>

<!-- Multislider js -->
<script src="{% static 'catalogue/assets/plugins/multislider/multislider-rtl.js' %}"></script>
<script src="{% static 'catalogue/assets/js/carousel-rtl.js' %}"></script>


<script>
create_chart_top(1,{{product_type.pk}});

function create_chart_top(day,pk){
    $('#title-chart').html("");
    $.ajax({
        url:"{% url 'create-chart-top' %}",
        type:"POST",
        data:{
        day: day,
        pk: pk
        },
        success:function(data){
            if(data){
                    labels_x = [];
                    info_chart = [];
                    $.each(data.msg,function(index, val){
                        price_all = val['price'];
                        info_chart.push(price_all);
                        weight_all = val['weight']+' کیلوگرم ';
                        labels_x.push(weight_all);
                        });
                    var esm1 = "onedayprice1";
                    var esm7 = "onedayprice7";
                    var esm30 = "onedayprice30";
                    var elementi = document.getElementById(esm1);
                    var elementi7 = document.getElementById(esm7);
                    var elementi30 = document.getElementById(esm30);
                    elementi.classList.add("chartnone");
                    elementi7.classList.add("chartnone");
                    elementi30.classList.add("chartnone");
                    if(day == 1){
                        elementi.classList.remove("chartnone");
                        $('#title-chart').html('نمودار روند بازار در روز 24 ساعت گذشته');
                        var element = elementi;
                        element.height = 300;
                    }else if(day == 7){
                        elementi7.classList.remove("chartnone");
                        $('#title-chart').html('نمودار روند بازار در هفته گذشته');
                        var element = elementi7;
                        element.height = 300;
                    }else{
                        elementi30.classList.remove("chartnone");
                        $('#title-chart').html('نمودار روند بازار در ماه گذشته');
                        var element = elementi30;
                        element.height = 300;
                    }
                    new Chart(element,{
                        type: "line",
                        data:{
                            labels: labels_x,
                            datasets: [{
                                label: {{product_type.pk}},
                                borderColor: "rgba(113, 76, 190, 0.9)",
                                borderWidth: "1",
                                backgroundColor: "rgba(113, 76, 190, 0.5)",
                                data: info_chart
                            }]
                        },
                        options:{
                            responsive: !0,
                            maintainAspectRatio: !1,
                            tooltips: {mode: "index", intersect: !1},
                            hover: {mode: "nearest", intersect: !0},
                            scales: {
                                xAxes: [{ticks: {fontColor: "#77778e"}, gridLines: {color: "rgba(119, 119, 142, 0.2)"}}],
                                yAxes: [{
                                    ticks: {beginAtZero: !0, fontColor: "#77778e"},
                                    gridLines: {color: "rgba(119, 119, 142, 0.2)"}
                                }]
                            },
                            legend: {labels: {fontColor: "#77778e"}}
                        }
                    })
            }else{
                alert("2")
            }
            if(data.result_amar) {
                $('#price_avg').html('');
                $('#price_max').html('');
                $('#price_min').html('');
                $('#bazar_count').html('');
                $('#product_type_name').html('');
                $('#price_avg').html(data.result_amar[0]);
                $('#price_max').html(data.result_amar[1]);
                $('#price_min').html(data.result_amar[2]);
                $('#bazar_count').html(data.result_amar[3]);
                $('#product_type_name').html(data.result_amar[4]);
            }
        }
    })
}
</script>

{% endblock %}